In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df_el = pd.read_csv("./energy_level.csv")
df_el

           x0        x1        x2        x3
0    1.313838  4.033568  6.909596  9.892752
1    1.312403  4.004472  6.820525  9.731460
2    1.310957  3.973662  6.721229  9.546370
3    1.309497  3.940725  6.608976  9.333738
4    1.308022  3.905204  6.481399  9.096079
..        ...       ...       ...       ...
196  0.380719  1.105998  1.370792  1.953625
197  0.378888  1.101701  1.368924  1.944459
198  0.377075  1.097406  1.367107  1.935385
199  0.375278  1.093115  1.365337  1.926403
200  0.373499  1.088828  1.363613  1.917512

[201 rows x 4 columns]